body {
    font-family:'Open Sans', sans-serif;
    margin: 0;
    background: #eef3f9;
}

header {
    background: #031e4d;
    padding: 15px 20px;
}

nav a {
    color: white;
    margin-right: 25px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 2px solid #c4cde0;
}

.block {
    width: 80%;
    margin: 25px auto;
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 3px;
    box-sizing: border-box; 
}

h2,h3 {
    color: #031e4d;
    padding-bottom: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

table, th, td {
    border: 1px solid #d0d7e5;
}

th {
    background: #eef3fb;
    padding: 10px;
    text-align: left;
}

td {
    padding: 8px;
    text-align: left;
}

.gallery-img {
    width: 350px;
    display: block;
    margin-bottom: 10px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #c4cde0;
    border-radius: 4px;
    margin-bottom: 18px;
}

.option group label {
    display: block;
    justify-content: space-between;
    margin-bottom: 3 px;
}
 

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background: #031e4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}


footer {
    background: #031e4d;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.copy {
    margin-top: 10px;
    font-size: 13px;
}